*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: #92a8d1;
}
.text_blue {
    color: aquamarine !important;
}
#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#header .nav {
    padding-top: 10px;
}
.navbar {
    display: inline-block;
}
.text-white {
    color: #fff;
}
#header .right_trend {
    margin-right: 340px;
    color: #d45858;
    font-size: 20px;
    text-align: right;
    margin-top: -23px;
}
#header .trend_music {
    margin-top: -23px;
    color: #fff;
    font-size: 20px;
    text-align: right;
    margin-right: 160px;
}
#header li {
    list-style: none;
}
#header a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding-left: 40px;
}
#banner {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33.333%;
    height: 700px;
    position: relative;
    margin-top: 60px;
    padding-top: 30%;
    background: url('../lab_01/images/banner.png') no-repeat;

}
#banner .top {
    margin-top: -33px;
    text-align: center;
    top: 0%;
    left: 60%;
    position: absolute;
    font-size: 30px;
    font-weight: 200;
}
#banner .banner_audio{
    position: absolute;
    top: 70%;
    left: 15%;
}
#banner .banner_single {
    color: #fff;
    position: absolute;
    text-align: center;
    font-size: 20px;
    left: 30%;
    top: 80%;
}